* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;    
    background-color: #79808D;
    height: 100vh;
}

/* Header CSS */
h1 {
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: bolder;
    color: white;
}

/* Players display CSS */
.players {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2.1rem;
}

.players-turn, 
.player-wins,
.player-loses,
.player-tie {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s;
}

.player-tie {
    transform: scale(1.1);
}

.player-wins {
    background-color: green;
    transition: 0.2s;
    transform: scale(1.1);
}

.player-loses {
    background-color: rgb(180, 54, 54);
    transition: 0.2s;
    transform: scale(0.8);
}

/* Cells CSS */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid black;
    border-radius: 10px;
    background-color: #5780D2;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 150px;
    height: 150px;
    color: white;   
    /* padding: 10px 30px; */
    border: 1px solid black;
}

/* Button CSS */
button {
    font-size: 1.3rem;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;
    color:white;
    background-color: black;
    cursor: pointer;
    
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

/* Signature CSS */
.signature {
    position: fixed;
    bottom: 15px;
    font-size: 1.5rem;
}
.signature > a {
    text-decoration: none;
    color: white;
}

span > img {
    width: 30px;
    height: 30px;
}

/* Pesudoclasses */

.container > div:hover{
    transition: 0.5s;
}
.container > div:hover {
    filter: brightness(75%);
}